*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./shara_desert.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.container_1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.logo{
    margin-top: 10px;
    margin-left: 120px;
    cursor: pointer;
}
.navbar{
    display: flex;
    height: 48px;
    margin-right: 150px;
}
.navbar>div{
    font-size: 15px;
    margin-right: 60px;
    align-self: center;
}
a{
    text-decoration: none;
    color: white;
}
.navbar-icon{
    height: 48px;
    width: 48px;
    margin-left: -20px;
    cursor: pointer;
}

.container_2{
    display: flex;
}

.sahara{
    padding-top: 200px;
    padding-left: 120px;
    width: 50%;
}
.sahara h1{
    font-weight: bolder;
    font-size: 110px;
}
.sahara p{
    line-height: 1.5;
}
.explore{
    background-color: white;
    border-style: hidden;
    font: 14px Georgia, serif;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    margin-top: 30px;
    width: 30%;
}

.content{
    display: grid;
    grid-template-columns: 220px 220px;
    row-gap: 40px;
    column-gap: 60px;
    margin-left: 80px;
}
.box{
    height: 250px;
    border-radius: 15px;
    padding: 15px 25px;
    background-size: cover;
    background-position: center;
}
.box:hover{
    margin-top: -10px;
}
.box h4{
    text-shadow: 1px 0px 2px white ;
}
.box p{
    font-size: 9px;
    line-height: 3;
}
.box1{
    background-image: url(./pic-1.png);
}
.box2{
    background-image:  url(./pic-2.png);
}
.box3{
    background-image: url(./pic-3.png);
}
.box4{
    background-image: url(./pic-4.png);
}

@media only screen  and (min-width: 550px ) and ( max-width: 900px )
{
    body{
        background-size: 115% 45%;
        background-position-x: center;
        background-repeat: repeat;
    }
    .logo{
        margin-left: 80px;
    }
    .navbar{
       margin-right: 60px;
    }
    .container_2{
        flex-direction: column;
    }
    .sahara{
        width: 100%;
        padding-top: 0px;
        padding-left: 80px;
        padding-right: 60px;
    }
    .sahara h1{
        font-size: 40px;
    }
    .explore:hover{
        margin-bottom: 10px;
    }

    .content{
        grid-template-columns: 100%;
        width: 60%;
        margin-top: 30px;
        margin-left: 22%;
    }
}

@media only screen  and (min-width: 280px ) and ( max-width: 549px ) {
    body{
        background-size: 250% 40%;
        background-position-x: center;
        background-repeat: repeat;
    }
    .logo{
        margin-left: 10px;
        transform: scale(0.8);
    }
    .navbar{
       margin-right: 20px;
    }
    .navbar>div{
        font-size: 12px;
        margin-right: 30px;
    }
    .container_2{
        flex-direction: column;
    }
    .sahara{
        width: 100%;
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 30px;
    }
    .sahara h1{
        font-size: 30px;
    }
    .sahara p{
        font-size: 12px;
    }
    .explore{
        font-size: 10px;
        margin-top: 20px;
        width: 25%;
    }
    .explore:hover{
        margin-bottom: 10px;
    }

    .content{
        grid-template-columns: 100%;
        width: 70%;
        margin-top: 30px;
        margin-left: 10%;
    }
}

